.container {
  display: block;
  max-width: var(--max-width);
  margin: 50px;
  padding: 40px 20px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  width: max-content;
  background-color: white;
}

.paragraph{
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 10px;
  background-color: var(--color-background);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.paragraph h4 {
  
  font-size: 1.25rem;
  margin-left: 15px;
}

.paragraph p {
  font-size: 1.25rem;
  color: var(--color-secondary);
  font-family: var(--font-roboto);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--color-dark);
  font-family: var(--font-playfair);
  font-weight: 700;
  letter-spacing: -0.05em;
}

.subtitle {
  font-size: 1.25rem;
  color: var(--color-secondary);
  margin-bottom: 30px;
  font-family: var(--font-roboto);
  line-height: 1.6;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}