/* Header Styles */
.header {
  width: 100vw;
  position: fixed;
  left: 50%;
  margin-top: -10px;
  margin-left: -50vw;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.295);
}
.Logo{
  height: 130px;
}
.logotexte{
  height: 50px;
  width: 200px;
  margin-top: 10px;
}
.titles{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.texte {
  font-family: 'playfair display', serif;
  color: #74827c;
}

.headerContent {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; /* vertically centers */
  align-items: center;     /* horizontally centers */
}
.titleContainer {
  display: flex;
  flex-direction: row;
}
.langueButton {
  background-color: transparent;
  user-select: none;
  border: none;
  font-size: 3rem;
  margin-right: 2vw;
  font-weight: bold;
  cursor: pointer;
  color: #c0c0c0;
}

.langueButton:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}
  .title {
    font-family: "Georgia", serifs;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color:dimgray;
  }

  .subtitle {
    font-family: "Optima", sans-serifs;
    font-size: 1.2rem;
    margin: 0;
    color: darkgray;
    text-decoration: underline;
  }
  .subtitle2 {
    font-family: "Optima", sans-serifs;
    font-size: 1.2rem;
    margin: 0;
    color: darkgray;
  }

@media (max-width: 700px) {
  .header {
    position: absolute;
    margin-top: -30vw;
    margin-left: none;
    top: 30vw;
  }
  .headerContent {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .Logo{
    height: 90px;
  }
  .logotexte{
    height: 40px;
    width: 160px;
    margin-top: 5px;
  }
  .langueButton {
    font-size: 1.5rem;
    margin-right: 1vw;
  }
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
