/* Header Styles */
.header {
  width: 100vw;
  height: 150px;
  position: fixed;
  left: 50%;
  margin-top: -90px;
  margin-left: -50vw;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.295);
}

.logoContainer {
  display: flex;
    flex-direction: column;
    padding: 10px
}

.titles{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.headerContent {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; /* vertically centers */
  align-items: center;     /* horizontally centers */
}
  .title {
    font-family: "Georgia", serifs;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color:dimgray;
  }

  .subtitle {
    font-family: "Optima", sans-serifs;
    font-size: 1.2rem;
    margin: 0;
    color: darkgray;
    text-decoration: underline;
  }
  .subtitle2 {
    font-family: "Optima", sans-serifs;
    font-size: 1.2rem;
    margin: 0;
    color: darkgray;
  }

@media (max-width: 700px) {
  .header {
    position: absolute;
    height: 120px;
    margin-top: -90px;
    margin-bottom: 0;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
