/* Header Styles */
.header {
    position: relative;
    width: 100vw;
  }
  
  .headerContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    position: absolute;
    left: 100;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }