.boutonMenu {
    background-color: white;
    width: 120px;
    height: 100px;
    cursor: pointer;
    border-radius: 15px;
    user-select: none;
    padding : 10px;
}

.boutonMenu:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}

.menu {
    position: absolute;
    right: 0px;
    margin-top: 2rem;
    height: 25rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #9EBFA4;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-lg */
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transform: translateX(18rem);
    transition:
        transform 0.3s ease-in-out,
        opacity 0s 0.3s;
    pointer-events: auto;
}

.open {
    position: absolute;
    right: 0px;
    margin-top: 2rem;
    width: 18rem;
    height: 20rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #9EBFA4;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-lg */
    z-index: 1000;
    opacity: 1;
    transform: translateX(0rem);
    pointer-events: auto;
    transition:
        opacity 0s,
        transform 0.3s ease-in-out;
}


.menuItem {
    display: block;
    padding: 0.75rem 1rem; /* Tailwind's px-4 py-2 */
    text-decoration: none;
    color: white;
    user-select: none;
}


@media (max-width: 700px) {
    .buttonMenu {
        width: 10px;
        height: 10px;
        padding : none;
    }
    .menu {
        width: 18rem;
        height: 20rem;
        margin-top: 0.95rem;
    }

    .open {
        width: 18rem;
        height: 20rem;
        margin-top: 0.95rem;
    }
}
