.button {
    align-content: center;
    padding : 2px;
    background-color: white ;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
.button:hover {
    background-color: #66AAFF;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}
