.button {
    align-content: center;
    padding : 10px;
    width: 75%;
    background-color: white ;
    border: #66AAFF 3px solid;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 15%;
}
.button:hover {
    background-color: #66AAFF;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}
