.input {

    margin: 5px;
    padding : 10px;
    border-radius: 15px;
    border: 2px solid #F0FAFA;
}

.button {
    align-content: center;
    padding : 10px;
    width: 50%;
    background-color: white ;
    border: #66AAFF 3px solid;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 7.5vw;
}
.button:hover {
    background-color: #66AAFF;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.formGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoGroup {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #D0FFD0;
    background-color: #F0FAF0;
}
.description {
    margin-bottom: 40px;
    max-width: 400px;
    align-self: center;
}

.dateGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.calendrier .react-datepicker {
  font-family: 'Poppins', sans-serif;
  background-color: #f9ff22;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.calendrier .react-datepicker__day--selected {
  background-color: #40bcd4;
  color: white;
  border-radius: 50%;
}

.calendrier .react-datepicker__header {
  background-color: #d0f5f7;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.calendrier .react-datepicker__day:hover {
  background-color: #12f2f5;
}

.form {
  border: 2px solid #7A9590;
  background-color: #95b6a1;
    border-radius: 20px;
    padding-bottom: 20px;
}

.select {
    margin: 5px;
    padding : 10px;
    border-radius: 15px;
    border: 2px solid #F0FAFA;
}